@small-height: 25px;
@small-circle-width: 10px;

@normal-height: 32px;

@large-height: 40px;
@large-circle-width: 18px;

.tp-button {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
  height: 32px;
  margin-right: initial;
  margin-left: initial;
  padding: 0 15px;
  overflow: visible;
  font-size: 14px;
  line-height: 1;
  text-align: center;
  text-decoration: none;
  background-color: #fff;
  border: 0;
  border: 1px solid transparent;
  transform: translate(0, 0);
  cursor: pointer;
  &__normal {
    height: @normal-height;
    line-height: @normal-height;
  }
  &__small {
    height: @small-height;
    line-height: @small-height;
    .tp-loading {
      width: @small-circle-width;
      height: @small-circle-width;
    }
    &.tp-button__circle {
      border-radius: @small-height / 2;
    }
  }
  &__large {
    height: @large-height;
    line-height: @large-height;
    .tp-loading{
      width: @large-circle-width;
      height: @large-circle-width;
    }
  }
  &__plain {
    color: @color-text-dark;
    border: 1px solid @color-border;
    .tp-loading__ring {
      border-color: @color-text-dark transparent transparent transparent;
    }
  }
  &__primary {
    color: #fff;
    background-color: @color-primary;
  }
  &__circle {
    border-radius: 50px;
  }
  &__icon {
    .tp-loading {
      display: inline-block;
      margin-right: 10px;
    }
  }
  &__disabled {
    opacity: .3;
    pointer-events: none;
  }
}
