$color-primary: #2979ff,
$color-primary-light: #ecf5ff,
.tp-button
  position: relative
  border: 0px
  display: inline-flex
  align-items: center
  justify-content: center
  box-sizing: border-box
  padding: 0 15px
  font-size: 14px
  height: 32px
  line-height: 1
  text-align: center
  text-decoration: none
  overflow: visible
  margin-left: initial
  transform: translate(0px, 0px)
  margin-right: initial
  &__normal
    background-color: #333333;
    color: #ffffff;
  &__primary
    background-color: #e54d42;
    color: #ffffff;